body {
    background-image: url("/images/bg2.jpeg");
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
    overflow-x: hidden;
}

/* ---------------------phone-------------------- */

#reach{
    background-color: rgba(32, 32, 32, 0.80);
    display:inline-flex;
    align-items: right;
    width: 20%;
    position: relative;
    top: -10.4vh;
    margin-left: 14vw;
    border-top: 3px solid  #155799;
    border-left: 1px solid  #155799;
    border-right: 1px solid #155799;
    border-radius: 4px;
}
.reach-headbar{
  background: linear-gradient(#1a79ff,#1a75ff,#1a75ff,#074bba,#074bba,#074bba);
  width:  98%;
  height: 30%;
  border: 2px solid #2f3036;
  border-radius: 4px;
}

#reach h1{
  text-align:left;
  font-size: 10px;
  font-family:sans-serif;
  color:white;
  display:inline-flex;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 3px;
}
#reach h2{
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  color:white;

}
#reach img{
  width: 15%;
  height: 15%;
  margin-top: -9px;
  margin-bottom: -10px;
}

#reach img:hover{
-webkit-filter: brightness(50%);
}

/* ---------------------Logo-------------------- */
@media only screen and (max-width: 320px) {

}

#logo{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6vh;
  margin-top: 2vh;
}

#logo img{

  width: 100%;
  height: 92%;
}
/* ---------------------navigation bar-------------------- */


nav{
  margin-top: -10vh;
  position: relative;
  margin-left: 14vw;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

nav a{
  font-family:sans-serif;
  font-size: 1em;
  color: white;
  text-decoration: none;
}

li{
  left:-40px;
  position: relative;
  width:10.2%;
  text-align: center;
  font-weight: bold;
  height: 100%;
  padding-top: 10px;
}

li:hover{
  background: #159957;
  background: -webkit-linear-gradient(to bottom, #155799, #159957);
  background: linear-gradient(to bottom, #155799, #159957);

}

li a:hover{
  text-decoration: none;
  color:white;

}


li.nohover:hover {
  background: none;
}

nav #menu {
  width: 73%;
  height: 90%;
  display:inline-flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  list-style-type: none;
  background-color: rgba(32, 32, 32, 0.80);
  border-bottom: 0.8vh solid black;
  border-bottom-color: #159957;
  border-top: 3px solid black;
  border-top-color: #155799;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

#home, #window,#charity,#contact,#fascia,#gutter,#pressure,#testimonials{
  background: #159957;
  background: -webkit-linear-gradient(to bottom, #155799, #159957);
  background: linear-gradient(to bottom, #155799, #159957);
  width: 10%;
  height: 100%;
  padding-top: 10px;

}
/* ---------------------Search box--------------------- */
input[type=text] {
    width: 180%;
    background-color: rgba(32, 32, 32, 0.80);
    border-radius: 6px;
    position:relative;
    border-style:groove;
    left: 25px;
    height: 85%;
    margin-top: -5px;
}
input[type=text]::placeholder{
    color:white;
    font-size: 13px;
    font-family: sans-serif;
    background: #2f3036;
}
input[type=text]:hover{
    color:white;
    background: #2f3036;
    transition: 0.2s;
    border-color: #159957;
    border-top-color:#155799;
    border-left-color: #155799;
}

input[type=text]:focus{
  color:white;
  background: #2f3036;
  border-color: #159957;
}

/* ---------------------Slideshow--------------------- */
#slider{
  margin-top: 1vh;
  height: 23%;
  width: 100%;
  overflow:hidden;
  border: 6px solid;
  border-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  border-right: 4px solid #159957;
}

#slider figure{
  position: relative;
  width: 500%;
  height: 100%;
  margin: 0;
  left:0;
  text-align: center;
  font-size: 1em;
  animation: 20s slider infinite;
}

#slider figure img{
  width: 20%;
  height: 100%;
  float:left;
}
@keyframes slider {
  0% {left: 0;} 20% {left: 0;} 25% {left:-100%;} 45% {left:-100%;}
  50% {left:-200%;} 70% {left:-200%;} 75% {left: -300%;}
  95% {left: -300%;} 100% {left:-400%;}
}

/* ---------------------Main wrap--------------------- */

#home-wrapper {
  height: 100%;
  width: 65%;
  display: inherit;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 1vh;
}

/* ---------------------Picture boxes--------------------- */
.item {
    width: 23%;
    height: 10%;
    margin-bottom: 4em;
    border-color: #159957;
    border-color: -webkit-linear-gradient(to bottom, #155799, #159957);
    border-color: linear-gradient(to bottom, #155799, #159957);
    border-radius: 5px;

}
.item a:hover{
    text-decoration: none;
}

.item h1{
  font-family: sans-serif;
  color:white;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  background-color: rgba(32, 32, 32, 0.90);
  padding-top: 10px;
  height: 40%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 15px solid;
  border-color: #159957;
  border-color: -webkit-linear-gradient(to bottom, #155799, #159957);
  border-color: linear-gradient(to bottom, #155799, #159957);
}
.item h1:hover{
  color:#159957;
}

#picture-container{
  background: #159957;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.item:hover{
  background-color: rgba(0, 0, 0, 1);
  transition: 0.3s;

}

.item img{
  width: 100%;
  -webkit-filter: brightness(100%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: 2px solid #159957;
  border-bottom: none;
}

.item img:hover{
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-top-left-radius: 100px;
}
/* ---------------------Wrap text content--------------------- */

.home-content{
  width: 32%;
  height: 21%;
  margin-top: -11vh;
  align-self: center;
  text-align: center;
  border: 2px solid;
  border-color: #2f3036;
  border-bottom-color: #159957;
  border-radius: 4px;
  background-color: rgba(32, 32, 32, 0.90);
}

.home-content:hover{
  -webkit-filter: brightness(90%);
}
.home-content p{
  margin: 2em;
  font-family: sans-serif;
  color:white;
  font-size: 0.9em;
}

#headbar{
  background: #159957;
  background: -webkit-linear-gradient(to bottom, #155799, #159957);
  background: linear-gradient(to bottom, #155799, #159957);

  width: 100%;
  height: 16%;
}

#headbar h1{
  font-family: sans-serif;
  color:white;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 5px;
}
/* ---------------------Testimonial Table--------------------- */
#home-testominal {
  margin-top: -5vh;
  height: 18%;
  width: 98%;
  border-bottom: none;
  overflow-y:scroll;
  align-self: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 3px solid #1a79ff;
}


.home-content:hover{
  -webkit-filter: brightness(90%);
}

.headbar-testimonial-home{
  background: #159957;
  background: -webkit-linear-gradient(to bottom, #155799, #159957);
  background: linear-gradient(to bottom, #155799, #159957);
  width: 100%;
  height: 21%;
  border: 2px solid #2f3036;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 1.5rem;
}



img.user{
  width: 3%;
  height: 3%;
  padding-left: 5px;
}

img.star{
  width:1.1%;
  height: 1.1%;
}

#home-testominal h1{

  color:white;
  font-weight: bold;
  font-size: 17px;

}
#home-testominal h2{
  color:white;
  font-size: 1.5rem;
  font-family:sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

#extract-testimonial h3{
  width: 10%;
  display: inline-flex;
  font-size: 15px;
  font-weight: bold;
  color:#159957;
  justify-content: space-evenly;
}

#extract-testimonial h4{
  display: inline-flex;
  font-size: 15px;
  font-weight: bold;
  color:white;
  padding-right: 25px;
}
#extract-testimonial h5{
  display:inline-flex;
  color:white;
  font-size: 15px;
  text-align: right;
}

#extract-testimonial h1{
  color:white;
  font-weight: normal;
  display: inline;
}
#extract-testimonial b, #extract-testimonial u{
  color:#159957;
}

#extract-testimonial a{
  color:#159957;
  font-size: 0.6em;
  text-decoration: none;
}

.background1{
  border-top: 1px solid #1a79ff;
  width:100%;
  height: 5%;
  background-color: rgba(32, 32, 32, 0.85);
}
.background2{
  border-top: 1px solid #1a79ff;
  background-color: rgba(32, 32, 32, 0.95);
}
.background1:hover, .background2:hover{
  background-color: rgba(32, 32, 32, 1);
}

/* ---------------------Footer--------------------- */

footer {
    position: relative;
    align-self: center;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: sans-serif;
    border-top: 10px solid #2f3036;
    border-radius: 4px;
    background: #1e2023;
    flex-direction:row;
    flex-wrap: wrap;
}

#top-footer{
  position: relative;
  right: 0%;
  top:7%;
  font-size: 14px;
  padding-bottom: 10px;
  width: 100%;
  height: 70%;
}

#top-footer h1{
  color:#159957;
  font-size: 1.8em;
  font-weight: bold;
}
#top-footer a{
  text-decoration: none;
  color:white;
  text-transform: capitalize;
  display:flex;
}

#top-footer a:hover{
-webkit-filter: brightness(80%);
}
#top-footer section{
  flex-direction: row;
  float:left;
  margin-left: 10em;
}
#bottom-footer{
  font-size: 1em;
  text-align: center;
  background: #1e2023;
  color:white;
  width: 100%;
  height: 30%;
  border-radius: 4px;
}

#line{
  border-bottom: 1px solid #1a79ff;
  margin-top: 2em;
}
#line-hori{
  border-bottom: 1px solid #1a79ff;
  margin-top: 2em;
  width: 90%;
  margin-left: 1.5em;
}

#bottom-footer p{
  margin-bottom: 10px;
}
#social-icons{
  margin-top: 3vh;
  width: 100%;
  border-top: 1px solid #159957;
  border-bottom: 7px solid #2f3036;
  border-left: 1px solid #159957;
  border-right: 1px solid #159957;
}

#social-icons img{
  margin-top: -2vh;
  width: 4%;
  height: 4%;
}
#social-icons img:hover{
-webkit-filter: brightness(50%);
}


/* ---------------------Social media--------------------- */
.social-media-box{
  width: 3.5%;
  height: 28.5%;
  position: fixed;
  right: 13%;
  top: 35%;
  background-color:rgba(32, 32, 32, 0.80);
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  border-top: 3px solid #159957;
  border-bottom: 5px solid #159957;
  border-right: 1px solid #159957;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
/*
.social-media-box-headbar{
  background: linear-gradient(#1a79ff,#1a75ff,#1a75ff,#074bba,#074bba,#074bba);
  width: 100%;
  height: 13%;
  border: 2px solid #2f3036;
  border-top-left-radius: 5px;
  margin-bottom: 1vh;
  } */

.social-media-box h2{
  width: 100%;
  height: 0%;
  color:white;
  text-transform: uppercase;
  font-size: 8px;
  padding-top: 5px;
  padding-bottom:0px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
}

.social-media-box a{
  text-decoration: none;
}
.social-media-box img{
  width: 70%;
  height: 85%;
  margin-bottom: 0px;
  align-self:center;
  border-radius: 7px;
}
.social-media-box img:hover{
    -webkit-filter: brightness(50%);
}
.social-media-box h1{
  text-align:center;
  font-size: 1em;
  font-family: sans-serif;
  color:white;
}
/* ---------------------Cleaning Pages--------------------- */
.cleaning-headbar{
  background: #159957;
  background: -webkit-linear-gradient(to bottom, #155799, #159957);
  background: linear-gradient(to bottom, #155799, #159957);
  width: 100%;
  height: 9%;
  position: relative;
  border: 2px solid;
  border-color: #2f3036;
  border-radius: 4px;
  color:white;
}

.cleaning-headbar h1{
  font-size: 1.5rem;
  color:white;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 6px;
  text-transform: uppercase;
}

#cleaning-description{
  height: 60%;
  width: 100%;
  border: 2px solid;
  border-color: #2f3036;
  color:white;
  margin-top: 1em;
  background-color:rgba(32, 32, 32, 0.90);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#cleaning-description h1{
  font-family: sans-serif;
  color:white;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}
#cleaning-description h2{
  color:white;
  font-size: 1.5rem;

}

#cleaning-description b{
  color:  #159957;
}

#cleaning-description p{
  margin: 2em;
  font-family: sans-serif;
  color:white;
  font-size: 0.9em;
}
#cleaning-description h3{
  color:#159957;
  font-family: sans-serif;
  font-size: 1.5rem;
  margin-top: -1vh;
  font-weight: bold;
}

#cleaning-description h4{
  color:#159957;
  font-family: sans-serif;
  font-weight: bold;
}
#cleaning-description h5{
  color:#159957;
  font-family: sans-serif;
  font-family:sans-serif;
  margin-bottom: 5vh;
}

#cleaning-left-container{
  width:50%;
  height: 85%;
  margin-top: 1vh;
  text-align: center;
  border-right: 2px solid #155799;
}
#cleaning-left-container:hover, #cleaning-right-container:hover {
  -webkit-filter: brightness(90%);
}
#cleaning-right-container{
  width:50%;
  height: 85%;
  margin-top: 1vh;
  text-align: center;
}

/* GALLERY -------------------------------------------------- */
#cleaning-gallery{
  width: 100%;
  height: 50%;
  background-color:rgba(32, 32, 32, 0.90);
  margin-top: 5vh;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    border-radius: 6px;
}
.gallery-headbar{
  background: #159957;
  background: -webkit-linear-gradient(to bottom, #155799, #159957);
  background: linear-gradient(to bottom, #155799, #159957);
  width: 100%;
  height: 20%;
  position: relative;
  border: 2px solid;

  border-color: #2f3036;
  border-radius: 4px;
  color:white;
  padding: 5px;
}

#line3{
  border-left: 1px solid #1a79ff;
  margin-top: -6em;
  margin-bottom: -2em;
  height: 30vh;
  margin-left: 50%;
}
/*w3 */

* {
  box-sizing: border-box;
}


/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  top:13%;
  width: 100%;
  height: 100%;
}

/* Hide the images by default */
.mySlides {
  display: inline-flex;
  left:-2px;
  width:16%;
  height: 60%;
  position: relative;
  align-self: center;
  border-top: 2px solid #155799;
  border-radius: 5px;
  margin-left: 4px;
}

.mySlides img{
  width: 70%;
  height: 70%;
  border-radius: 5px;
}
.mySlides img:hover{
  -webkit-filter: brightness(50%);
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: -20px;
  margin-top: -40px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right:-2%;
  border-radius: 3px 0 0 3px;
}
.prev {
  left:-2%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color:  white;
  font-weight: bold;
  font-size: 13px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  margin-top: -3vh;
  text-align: center;
  background-color: #159957;
  border-radius: 100px;
  width: 100%;
  height: 1%;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* ---------------------Testimonials page--------------------- */
#testimonial-content{
  background-color:rgba(32, 32, 32, 0.90);
  margin-top: 2vh;
  height: 95%;
  width: 100%;
  margin-bottom: 50vh;
  border-radius: 6px;
}


#testimonial-index{
  width:80%;
  height: 70%;
  margin-top: -10vh;
  margin-left:auto;
  margin-right: auto;
  overflow-y: hidden;
  overflow-x:hidden;
  border-radius: 5px;

}
#banner{
  height: 12%;
  width: 80%;
  border: 10px solid #159957;
  border-top-color: #155799;
  border-bottom-color: #155799;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;

}
#banner img{
  width: 100%;
  height: 100%;
}
.headbar-testimonial-main{
  background: #159957;
  background: -webkit-linear-gradient(to bottom, #155799, #159957);
  background: linear-gradient(to bottom, #155799, #159957);
  width: 100%;
  height: 2%;
  border: 3px solid;
  border-color: #2f3036;
  border-radius: 4px;
}
.service-img{
  width: 45px;
  height: 40px;
  position: absolute;
  margin-left: 5px;
  margin-top: 6px;
}
#user-testimonial{
  height: 13%;
  width: 31%;
  border-top: none;
  font-size: 12px;
  float: left;
  justify-content: center;
  border-radius: 2px;
  align-self:center;
  margin-left: 1.1%;
  margin-right: 1.1%;
  margin-top: 13vh;
}
#user-testominalbg1{
  margin-top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid;
  border-color: #159957;
  background-color: #159957;
  background-size:contain;
  background-repeat: no-repeat;

}

#user-testominalbg2{
  margin-top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid;
  border-color: #155799;
  background-color: #155799;
  background-size:cover;
}
#user-testimonial h2{
  color: white;
  text-align: center;
  font-family:sans-serif;
  margin-top: 0.5vh;
  padding-top: 7px;
  font-size: 15px;
  padding-bottom: 7px;
  font-weight: bold;
  background: #454849;
  width: 100%;
  height: 20%;
}
#user-testimonial h3{
  color: white;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family:sans-serif;
  padding-top: 7px;
  font-size: 15px;
  padding: 1em;
  height: 53%;
  width: 100%;
  align-self: center;
}


#star-img{
  align-self: center;
  display: table;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row-reverse;
  background: none;
  margin-top: 1vh;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  border-top: none;
}
#star-img h1{
  color:#454849;
  display: inline-flex;
  justify-content:space-between;
  font-size: 1rem;
  font-weight: bold;
  text-align:right;
  padding-bottom: -10px;
}

.headbar-user{
  background: #454849;
  width: 100%;
  height: 15%;
  position: relative;
  font-size: 10px;
  margin-bottom:0.5vh;
}
.headbar-user img{
  width:40px;
  height: 30px;
  position:absolute;
  margin-left: 0px;
  margin-top: 0px;
}
#user-testominalbg1:hover,#user-testominalbg2:hover {
  -webkit-filter: brightness(80%);
}

.headbar-testimonial-main h1{
 color: white;
 text-align: center;
 font-family:sans-serif;
 font-size: 1.5rem;
 margin-top: 10px;
 font-weight: bold;
}

.button{
  background: #159957;
  background: -webkit-linear-gradient(to bottom, #155799, #159957);
  background: linear-gradient(to bottom, #155799, #159957);
  border: none;
  color: white;
  border: 1px solid black;
  text-align: center;
  align-self: baseline;
  position:relative;
  font-family: sans-serif;
  height: 2%;
  width: 13%;
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 75%;
}

.button:hover{
  background: #2f3036;
  border-color: #159957;
}

.headbar-user h1{
  color: white;
  text-align: center;
  font-family:sans-serif;
  padding-top: 7px;
  font-size: 18px;
  color:white;

}



h3{
  text-align: center;
  font-family:sans-serif;
  font-weight:bold;
  padding-top: 7px;
  margin-left: 4px;
}

#sortBy{
  position: relative;
  margin: 2em;
  height: 2%;
  width: 10%;
}
/* ---------------------contact page--------------------- */

.contact-wrapper-headbar h1{
  padding-top: 8px;
}

.contact-wrapper-headbar{
  background: #159957;
  background: -webkit-linear-gradient(to bottom, #155799, #159957);
  background: linear-gradient(to bottom, #155799, #159957);
  width: 100%;
  height: 7%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 0.7em;
}

#left-contact-wrapper p,#right-contact-wrapper p{
  margin: 2em;
  font-family: sans-serif;
  color:white;
  font-size: 0.9em;
}
/*
#myfield2:hover, #usernameField:hover, #emailField:hover{
  -webkit-filter: brightness(80%);
}

#myfield1:hover, #selectRating:hover, #selectService:hover{
  -webkit-filter: brightness(80%);
} */

#CharCountLabel1{
  font-family: sans-serif;
  font-size: 1em;
  margin-left: 3vw;
  margin-top: 1vh;
  color:#159957;
}
#CharCountLabel2{
  font-family: sans-serif;
  font-size: 1em;
  margin-left: 3vw;
  margin-top: 1vh;
  color:#159957;
}

/* ---------------------Message contact page--------------------- */

#left-contact-wrapper{
  height: 85%;
  width: 48%;
  border: 2px solid;
  border-color: #2f3036;
  color:white;
  margin-top: 1em;
  background-color:rgba(32, 32, 32, 0.90);
  border-radius: 4px;
}

#left-contact-wrapper h1{
  font-family: sans-serif;
  color:white;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

#myfield1{
  resize: none;
  width: 80%;
  height: 30%;
  font-family: sans-serif;
  font-size: 1em;
  color:#2f3036;
  background: white;
  margin-left: 3vw;
  padding-top: 20px;
  margin-right: auto;
  border-radius: 4px;
}
#titleField{
  border: 2px solid;
  border-color: #159957;
  border-radius: 4px;
  color:#2f3036;
  width: 34%;
  padding: 3px;
  margin-left: 1vw;
  margin-bottom: 1em;
}

#titleField:hover{
  -webkit-filter: brightness(80%);
}

.submitEmail{
  background: #159957;
  background: -webkit-linear-gradient(to bottom, #155799, #159957);
  background: linear-gradient(to bottom, #155799, #159957);
  border: 1px solid black;
  color: white;
  padding: 15px 15px;
  width: 27%;
  height: 25%;
  margin-left: 19.7vw;
  font-family: sans-serif;
  border-radius: 4px;
  margin-bottom: 1vh;
}

.submitEmail:hover{
  background: #2f3036;
  border-color:#159957;
}
/* ---------------------Testimonial contact page--------------------- */
#right-contact-wrapper{
  height: 85%;
  width: 48%;
  border: 2px solid;
  border-color: #2f3036;
  color:white;
  background-color:rgba(32, 32, 32, 0.90);
  margin-top: 1em;
  border-radius: 4px;
  margin-bottom: 8em;
}

#right-contact-wrapper h1{
  font-family: sans-serif;
  color:white;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

#myfield2{
  resize: none;
  width: 80%;
  height: 30%;
  font-family: sans-serif;
  font-size: 1em;
  color:#2f3036;
  background: white;
  margin-left: 3vw;
  padding-top: 20px;
  margin-right: auto;
  border-radius: 5px;
}

#selectService, #selectRating{
  width: 35.5%;
  height: 10%;
  margin-bottom: 1em;
  margin-left: 3.4em;
  color:#2f3036;
}

#usernameField, #emailField {
  border:none;
  border-radius: 4px;
  color:#2f3036;
  width: 40%;
  padding: 5px;
  margin-left: 3vw;
  margin-bottom: 2vh;
}

#testimonial-usernameField {
  border:none;
  border-radius: 4px;
  color:#2f3036;
  width: 32.5%;
  padding: 7px;
  margin-left: 3vw;
  margin-bottom: 2vh;
}


.SubmitQuery{
  background: #159957;
  background: -webkit-linear-gradient(to bottom, #155799, #159957);
  background: linear-gradient(to bottom, #155799, #159957);
  border: 1px solid black;
  color: white;
  padding: 15px 15px;
  width: 27%;
  height: 25%;
  margin-left: 19.7vw;
  margin-top: -0.6vh;
  font-family: sans-serif;
  border-radius: 4px;
  margin-bottom: 1vh;
}
.SubmitQuery:hover{
  background: #2f3036;
  border-color: #159957;
}
/* ---------------------Submit Forms-------------------- */

#Submit-form{
  height: 40%;
  width: 50%;
  border: 2px solid;
  margin-bottom: -6em;
  border-color: #2f3036;
  color:white;
  margin-top: 5em;
  background-color:rgba(32, 32, 32, 0.90);
  margin-bottom: 45vh;
}
.Submit-form-headbar{
  background: #159957;
  background: -webkit-linear-gradient(to bottom, #155799, #159957);
  background: linear-gradient(to bottom, #155799, #159957);
  width: 100%;
  height: 15%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 0.7em;
}
#Submit-form h1{
  font-family: sans-serif;
  font-size: 1.5rem;
  padding-top: 5px;
}
#Submit-form p{
  margin: 2em;
  font-family: sans-serif;
  color:white;
  font-size: 0.9em;
}
