<!DOCTYPE html>
<html>
<head>
<!--STYLESHEETS-->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<title></title>
</head>
<body>
	<!--JAVASCRIPT STYLE-->
 <script type="text/javascript" src="javascripts/script.js"></script>
<!--LOGO -->
<div id="logo">
	<img src ="images/logo.png" alt="window, fascia, pressure, Gutter, cleaning, services">
</div>
<!--CONTACT INFO -->
<div id='reach'>
	<div class='reach-headbar'>
			<h2>REACH US</h2>
	 </div>
		 <h1><img src='images/phone.png' alt='phone,cleaning'><u>Phone: +4124241525</u></h1>

		 <h1><img src='images/email.png' alt='email,cleaning'><u>Email: Email@gmail.com</u></h1>
	 </div>
<!--Social Media Links (Right of the page)-->
<div class="social-media-box">
	<div class='social-media-box-headbar'>
		<h1>JOIN</h1>
</div>
<h2>twitter</h2>
<a href='https://twitter.com/'>
	<img src='images/medialogo1.png'alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>instagram</h2>
<a href='https://instagram.com/'>
	<img src='images/medialogo2.png'alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>facebook</h2>
<a href='https://facebook.com/'>
	<img src='images/medialogo3.png'alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>google+</h2>
		<a href='https://plus.google.com/'>
			<img src='images/medialogo4.png'alt="window, fascia, pressure, Gutter, cleaning, services">
				</a>
</div>
<!--NAVIGATION BAR -->
	<nav>
		<ul id="menu">
	    <li class="home"><a href="/">Home</a></li>
	    <li class="window"><a href="/window">Window </a></li>
	    <li class="gutter"><a href="/gutter">Gutter </a></li>
	    <li class="fascia"><a href="/fascia">Fascia </a></li>
	    <li class="pressure"><a href="/pressure">Pressure </a></li>
	    <li class="testimonials"><a href="/testimonials">Testimonials</a></li>
	    <li class="charity"><a href="/charity">Charity</a></li>
	    <li class="contact"id="contact"><a href="/contact">Contact us</a></li>
<!--searchbox-->
	    <li class="nohover"><input type="text" placeholder="Search...."style="background-image: url(images/zoom.png); background-repeat: no-repeat;
	        background-size: 17px 17px; background-position: 92%;"></li></input>
	  </ul>
	</nav>
<!--LEFT WRAPPER!--------------------->
	<main id="home-wrapper">

<div id='left-contact-wrapper'>
		<div class='contact-wrapper-headbar'>
			<h1>Send us a message</h1>
				</div>
				<p>(sample text)Our commercial service is focused on a similar area but we will extend beyond this for major contracts.
					<br><br>If you see any of our vans driving by, parked on the street in town or at a neighbour's house, please feel free to wave us down - we are all house trained and won't bite!<br><br>
				If you see any of our vans driving by, parked on the street in town or at a neighbour's house, please feel free to wave us down - we are all house trained and won't bite!</p>
				<div id ='line-hori'>
				</div>

				<h1>Email Form</h1>

				<div id='msg-container'>
				<form method='POST' action="/send">

				<input type ='textinput' name='username' placeholder="Your Username:" id='usernameField' class='inputs' minlength="4" maxlength="12">

				<input type ='textinput' name='email' placeholder="Your Email:" id='emailField' class='inputs' minlength="8">

					<input type ='textinput' name='title' placeholder="The title:" id='titleField' class='inputs' minlength="4" maxlength="36">

				<textarea name='myfield' placeholder="Write your comment here:" class="input" id='myfield1' minlength="50" maxlength="150"></textarea>
				<strong><div id='CharCountLabel1'>
				</div></strong>

				<button type ="submit" class="submitEmail">Submit Email</button>
				</form>
			</div>
</div>
<!--RIGHT WRAPPER!--------------------->
<div id='right-contact-wrapper'>
	<div class='contact-wrapper-headbar'>
		<h1>upload an testimonial</h1>
			</div>

			<p>(sample text)Our commercial service is focused on a similar area but we will extend beyond this for major contracts.
				<br><br>If you see any of our vans driving by, parked on the street in town or at a neighbour's house, please feel free to wave us down - we are all house trained and won't bite!<br><br>
			If you see any of our vans driving by, parked on the street in town or at a neighbour's house, please feel free to wave us down - we are all house trained and won't bite!</p>

			<div id ='line-hori'>
			</div>

			<h1>Testimonial Form</h1>

			<div id='msg-container'>
				<form method='POST' action="/sendtestimonial">

			<input type ='textinput' name='testiusername' placeholder="Your Username:" id='testimonial-usernameField' class='inputs' minlength="4" maxlength="12">
			<br>
						<select id='selectService' name ='service'>
							<option value =''>Select Service:</option>
							<option value ='Window Cleaning'>Window Cleaning</option>
							<option value ='Gutter Cleaning'>Gutter Cleaning</option>
							<option value ='Fascia Cleaning'>Fascia Cleaning</option>
							<option value ='Pressure Cleaning'>Pressure Cleaning</option>
						</select>

						<select id='selectRating' name ='rating'>
							<option value =''>Select Star Rating:</option>
							<option value ='1'>1</option>
							<option value ='2'>2</option>
							<option value ='3'>3</option>
							<option value ='4'>4</option>
							<option value ='5'>5</option>
						</select>
			<textarea name='myfield' placeholder="Write your comment here:" class="input" id='myfield2' minlength="30" maxlength="150"></textarea>

		<strong><div id='CharCountLabel2'>
			</div></strong>

			<button type='submit' class="SubmitQuery">Submit Query</button>
		</form>
		</div>
</div>

<footer>
	<div id='top-footer'>
		<section>
			<h1>MENU</h1>
				<a href="Home.html">Home</a>
					</section>
	<section>
		<h1>SERVICES</h1>
			<a href="Window.html">Window</a>
				<a href="Gutter.html">Gutter</a>
					<a href="Fascia.html">Fascia</a>
						<a href="Pressure.html">Pressure</a>
							</section>
	<section>
		<h1>CONTACT</h1>
			<a href="Testimonials.html">Testimonials</a>
				<a href="Charity.html">Charity</a>
					<a href="Contact.html">Contact us</a>
						</section>

	<section>
		<h1>MISCELLANEOUS</h1>
			<a href="Testimonials.html">Terms And Services</a>
			<a href="Testimonials.html">Contact Information</a>
			</section>
</div>
	<div id='bottom-footer'>
		<div id='social-icons'>
			<div id='line'>
				</div>

			<br>
<!--Social Media Links (bottom footer)-->
		<a href='https://twitter.com/'><img src='images/twitter.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
			<a href='https://facebook.com/'><img src='images/facebook.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
				<a href='https://plus.google.com/'><img src='images/google.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
					<p>@copyright All rights reserved to up775005 - Final Year Project (PJE40)</p>
						</div>

</footer>
</div>
	</main>
<!--FOOTER-->

</body>
</html>
