<!DOCTYPE html>
<html lang="en">
<head>
<!--STYLESHEETS-->
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Summit Fascia Cleaning</title>
</head>
<body>

<!--LOGO -->
<div id="logo">
	<img src ="images/logo.png" alt="window, fascia, pressure, Gutter, cleaning, services">
</div>
<!--CONTACT INFO -->
<div id='reach'>
	<h1><img src='images/phone.png' alt= 'phone,cleaning'>+00000000000</h1>
	<h1><img src='images/email.png' alt= 'email,cleaning'>SampleEmail@gmail.com</h1>
	 </div>
<!--Social Media Links (Right of the page)-->
<div class="social-media-box">
<h2>twitter</h2>
<a href='https://twitter.com/'>
	<img src='images/medialogo1.png' alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>instagram</h2>
<a href='https://instagram.com/'>
	<img src='images/medialogo2.png' alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>facebook</h2>
<a href='https://www.facebook.com/Summit-Window-Cleaning-417375188721751/'>
	<img src='images/medialogo3.png' alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>google+</h2>
		<a href='https://plus.google.com/'>
			<img src='images/medialogo4.png' alt="window, fascia, pressure, Gutter, cleaning, services">
				</a>
</div>
<!--NAVIGATION BAR -->
	<nav>
		<ul id="menu">
	    <li class="home"><a href="/">Home</a></li>
	    <li class="window"><a href="/window">Window </a></li>
	    <li class="gutter"><a href="/gutter">Gutter </a></li>
	    <li class="fascia" id="contact"><a href="/fascia">Fascia </a></li>
	    <li class="pressure"><a href="/pressure">Pressure </a></li>
	    <li class="testimonials"><a href="/testimonials">Testimonials</a></li>
	    <li class="charity"><a href="/charity">Charity</a></li>
	    <li class="contact"><a href="/contact">Contact</a></li>
			<!--searchbox-->
				<gcse:search></gcse:search>

</ul>
	</nav>
		<main id="home-wrapper">
<!--LEFT WRAPPER!--------------------->

<div id='cleaning-description'>
		<div class='cleaning-headbar'>
			<h1>Fascia Cleaning Service</h1>
</div>
<div id='cleaning-left-container'>
<h3>Service Description</h3>
<p>For Fascia cleaning, we also use the reach & wash method. The mixture of our special ingredient chemicals allows the dashboards to stay clean and in the best condition for very long time.</p>

<p>Due to the great British weather, There is nothing that can be done when our UPVC turns a shade off green and grey! If you can remember when it was gleaming white, it really did set off your property.</p>

<p>Summit cleaning can bring your UPVC back to its original condition. The weather conditions will not affect the dashboard cleanliness for 14 days, and we guarantee that!</p>

<h5>This service <b>PRICE</b> starts from: <b>£90</b></h5>
</div>

<div id='cleaning-right-container'>
<h3>Additional Information</h3>
<p><b>Highest Quality Cleaning - </b>Summit employees care on how effective the quality of service is provided. This means our customers will be happy no matter what service has been ordered.</p>
<p><b>Durability of Cleaning - </b>Summit secret recipe of cleaning liquids allows your components to stay clean for long time. Therefore, this allows your cleaned components to live longer!</p>
<p><b>No matter of weather conditions - </b>The applied cleaning has a strong effect of staying clean for longer no matter if it rains or snows. So considering our services is essential if you care about your interior or exterior surfaces. </p>
<% for(var i=0; i< object.length; i++) {%>
<h2>Service Average Rating: <b><%=object[i].avgFascia%></b> out of 5.</h2>
<% } %>
</div>
<br>
</div>
<div id='cleaning-gallery'>
		<h1>Fascia Gallery</h1>
	<div class='gallery-content'>
		<!-- Container for the image gallery -->
<div class="container">

 <!-- Full-width images with number text -->
 <div class="mySlides">
	 <div class="numbertext">1 / 6</div>
		 <img src="images/fascia/picture1.jpg" alt="window, fascia, pressure, Gutter, cleaning, services">
 </div>

 <div class="mySlides">
	 <div class="numbertext">2 / 6</div>
		 <img src="images/fascia/picture2.jpg" alt="window, fascia, pressure, Gutter, cleaning, services">
 </div>

 <div class="mySlides">
	 <div class="numbertext">3 / 6</div>
		 <img src="images/fascia/picture3.jpg" alt="window, fascia, pressure, Gutter, cleaning, services">
 </div>

 <div class="mySlides">
	 <div class="numbertext">4 / 6</div>
		 <img src="images/fascia/picture4.jpg" alt="window, fascia, pressure, Gutter, cleaning, services">
 </div>

 <div class="mySlides">
	 <div class="numbertext">5 / 6</div>
		 <img src="images/fascia/picture5.jpg" alt="window, fascia, pressure, Gutter, cleaning, services">
 </div>

 <div class="mySlides">
	 <div class="numbertext">6 / 6</div>
		 <img src="images/fascia/picture6.jpg" alt="window, fascia, pressure, Gutter, cleaning, services">
 </div>

 <!-- Next and previous buttons -->
 <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
 <a class="next" onclick="plusSlides(1)">&#10095;</a>

 <!-- Image text -->
 <div class="caption-container">
	 <p id="caption"></p>
 </div>

 <!-- Thumbnail images -->
 <div class="row">
	 <div class="column">
		 <img class="demo cursor" src="images/fascia/picture1.jpg" onclick="currentSlide(1)" alt="fascia Cleaning Picture 1">
	 </div>
	 <div class="column">
		 <img class="demo cursor" src="images/fascia/picture2.jpg" onclick="currentSlide(2)" alt="fascia Cleaning Picture 2">
	 </div>
	 <div class="column">
		 <img class="demo cursor" src="images/fascia/picture3.jpg" onclick="currentSlide(3)" alt="fascia Cleaning Picture 3">
	 </div>
	 <div class="column">
		 <img class="demo cursor" src="images/fascia/picture4.jpg" onclick="currentSlide(4)" alt="fascia Cleaning Picture 4">
	 </div>
	 <div class="column">
		 <img class="demo cursor" src="images/fascia/picture5.jpg" onclick="currentSlide(5)" alt="fascia Cleaning Picture 5">
	 </div>
	 <div class="column">
		 <img class="demo cursor" src="images/fascia/picture6.jpg" onclick="currentSlide(6)" alt="fascia Cleaning Picture 6">
	 </div>
 </div>
</div>

</div>

</main>



<!--FOOTER-->
	<footer>

				<div id='top-footer'>
				<section>
					<h1>SERVICES</h1>
						<a href="/window">Window</a>
							<a href="/gutter">Gutter</a>
								<a href="/fascia">Fascia</a>
									<a href="/pressure">Pressure</a>
										</section>
				<section>
					<h1>CONTACT</h1>
						<a href="/testimonials">Testimonials</a>
							<a href="/charity">Charity</a>
								<a href="/contact">Contact us</a>
									</section>

				<section>
					<h1>MISCELLANEOUS</h1>
						<a href=''>Terms And Services</a>
						<a href='/contact'>Contact Information</a>
						</section>
						<section>
							<h1>MENU</h1>
								<a href="/">Home</a>
								<a href="/login">Admin panel</a>
									</section>
			</div>
	<section>
		<div id='bottom-footer'>
			<div id='social-icons'>
				<br>
<!--Social Media Links (bottom footer)-->
			<a href='https://twitter.com/'><img src='images/twitter.png' alt="window, fascia, pressure, Gutter, cleaning, services"></a>
				<a href='https://www.facebook.com/Summit-Window-Cleaning-417375188721751/'><img src='images/facebook.png' alt="window, fascia, pressure, Gutter, cleaning, services"></a>
					<a href='https://plus.google.com/'><img src='images/google.png' alt="window, fascia, pressure, Gutter, cleaning, services"></a>
					<a href='https://instagram.com'><img src='images/instagram.png' alt="window, fascia, pressure, Gutter, cleaning, services"></a>
						<p>@copyright All rights reserved to up775005 - Final Year Project (PJE40) - Summit Window Cleaning</p>
							</div>
						</div>

</section>
</footer>
<!--JAVASCRIPT STYLE-->
	<script type="text/javascript" src="javascripts/script.js"></script>
</body>
</html>
