<!DOCTYPE html>
<html lang="en">
<head>
<!--STYLESHEETS-->
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Summit Window Cleaning</title>
</head>
<body>

<!--LOGO -->
<div id="logo">
	<img src ="images/logo.png" alt="window, fascia, pressure, Gutter, cleaning, services">
</div>
<!--CONTACT INFO -->
<div id='reach'>
		 <h1><img src='images/phone.png' alt='phone,cleaning'><u>Phone: +4124241525</u></h1>
		 <h1><img src='images/email.png' alt='email,cleaning'><u>Email: Email@gmail.com</u></h1>
	 </div>
<!--Social Media Links (Right of the page)-->
<div class="social-media-box">
<h2>twitter</h2>
<a href='https://twitter.com/'>
	<img src='images/medialogo1.png' alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>instagram</h2>
<a href='https://instagram.com/'>
	<img src='images/medialogo2.png' alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>facebook</h2>
<a href='https://facebook.com/'>
	<img src='images/medialogo3.png' alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>google+</h2>
		<a href='https://plus.google.com/'>
			<img src='images/medialogo4.png' alt="window, fascia, pressure, Gutter, cleaning, services">
				</a>
</div>
<!--NAVIGATION BAR -->
<nav>
	<ul id="menu">
		<li class="home"><a href="/">Home</a></li>
		<li class="window"><a href="/window">Window </a></li>
		<li class="gutter" id="gutter"><a href="/gutter">Gutter </a></li>
		<li class="fascia"><a href="/fascia">Fascia </a></li>
		<li class="pressure"><a href="/pressure">Pressure </a></li>
		<li class="testimonials"><a href="/testimonials">Testimonials</a></li>
		<li class="charity"><a href="/charity">Charity</a></li>
		<li class="contact"><a href="/contact">Contact us</a></li>
<!--searchbox-->
		<li class="nohover"><input type="text" placeholder="Search...."style="background-image: url(images/zoom.png); background-repeat: no-repeat;
				background-size: 17px 17px; background-position: 92%;""></li></input>
	</ul>
</nav>
		<main id="home-wrapper">
<!--LEFT WRAPPER!--------------------->

<div id='cleaning-description'>
		<div class='cleaning-headbar'>
			<h1>Gutter Cleaning Service</h1>
</div>
<div id='cleaning-left-container'>
<h3>Service Description</h3>
<p>Gutter cleaning is essential in homes as it allows the water to flow smoothly from the rooftop. Accordingly, it is important to keep these aesthetic and clean.</p>
<p>Every member of staff is fully trained in the latest methods of safe window and gutter cleaning; immediately on release, they are first aid trained and always work in pairs.	</p><p>  We always provide site specific risk assessments and method statements for all of our commercial clients to make sure it is safe to carry out our task.</p><p>As our form of security, we carry lots of equipment to help us stay safe including; a first-aid kit, a fire extinguisher, safety cones, hard hats, hi-vis jackets and much more to make sure safety comes first.</p>

<h5>This service <b>PRICE</b> starts from: <b>£25</b></h5>
</div>

<div id='cleaning-right-container'>
<h3>Additional Information</h3>
<p><b>Great time management -</b> Our company values on how smooth the service goes. Therefore, we are doing our best to complete the service as soon as possible with our best effort and highest quality output.  </p>
<p><b>Superb Customer Service -</b> Summit also values on how satisfied the customers are. This is why we deliberately try to focus on customers point of view to satisfy their needs.</p>
<p><b>Save money -</b> Our price comparison is one of the cheapest in Wokingham area! Your traditional window cleaner would need to clean your windows every fortnight. However, using our service can change that to once a month! </p>
<% for(var i=0; i< object.length; i++) {%>
<h2>Service Average Rating: <b><%=object[i].avgGutter%></b> out of 5.</h2>
<% } %>
</div>
<br>
<div id='cleaning-gallery'>
	<div class='gallery-headbar'>
		<h1>Gutter Gallery</h1>
	</div>
</div>
</div>
</main>



<!--FOOTER-->
	<footer>

				<div id='top-footer'>
				<section>
					<h1>SERVICES</h1>
						<a href="/window">Window</a>
							<a href="/gutter">Gutter</a>
								<a href="/fascia">Fascia</a>
									<a href="/pressure">Pressure</a>
										</section>
				<section>
					<h1>CONTACT</h1>
						<a href="/testimonials">Testimonials</a>
							<a href="/charity">Charity</a>
								<a href="/contact">Contact us</a>
									</section>

				<section>
					<h1>MISCELLANEOUS</h1>
						<a href=''>Terms And Services</a>
						<a href='/contact'>Contact Information</a>
						</section>
						<section>
							<h1>MENU</h1>
								<a href="/">Home</a>
									</section>
			</div>
	<section>
		<div id='bottom-footer'>
			<div id='social-icons'>
				<br>
<!--Social Media Links (bottom footer)-->
			<a href='https://twitter.com/'><img src='images/twitter.png' alt="window, fascia, pressure, Gutter, cleaning, services"></a>
				<a href='https://facebook.com/'><img src='images/facebook.png' alt="window, fascia, pressure, Gutter, cleaning, services"></a>
					<a href='https://plus.google.com/'><img src='images/google.png' alt="window, fascia, pressure, Gutter, cleaning, services"></a>
					<a href='https://instagram.com'><img src='images/instagram.png' alt="window, fascia, pressure, Gutter, cleaning, services"></a>
						<p>@copyright All rights reserved to up775005 - Final Year Project (PJE40) - Summit Window Cleaning</p>
							</div>
						</div>

</section>
</footer>
<!--JAVASCRIPT STYLE-->
	<script type="text/javascript" src="javascripts/script.js"></script>
</body>
</html>
