<!DOCTYPE html>
<html>
<head>
<!--STYLESHEETS-->
	 <script src="/reload/reload.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<title></title>
</head>
<body>
<!--LOGO -->
<div id="logo">
	<img src ="images/logo.png" alt="window, fascia, pressure, Gutter, cleaning, services">
</div>
<!--Social Media Links (Right of the page)-->
<div class="social-media-box">
	<h1>Like our services?<br> Join Us now!</h1>
	<a href='https://twitter.com/'>
		<img src='images/medialogo1.png'alt="window, fascia, pressure, Gutter, cleaning, services">
			</a>
	<a href='https://facebook.com/'>
		<img src='images/medialogo2.png'alt="window, fascia, pressure, Gutter, cleaning, services">
			</a>
	<a href='https://plus.google.com/'>
		<img src='images/medialogo3.png'alt="window, fascia, pressure, Gutter, cleaning, services">
			</a>
</div>

<!--NAVIGATION BAR -->
	<nav>
		<ul id="menu">
	    <li class="home"id="home"><a href="/">Home</a></li>
	    <li class="window"><a href="/window">Window </a></li>
	    <li class="gutter"><a href="/gutter">Gutter </a></li>
	    <li class="fascia"><a href="/fascia">Fascia </a></li>
	    <li class="pressure"><a href="/pressure">Pressure </a></li>
	    <li class="testimonials"><a href="/testimonials">Testiomonials</a></li>
	    <li class="charity"><a href="/charity">Charity</a></li>
	    <li class="contact"><a href="/contact">Contact us</a></li>
<!--searchbox-->
	    <li class="nohover"><input type="text" placeholder="Search...."style="background-image: url(images/zoom.png); background-repeat: no-repeat;
	        background-size: 17px 17px; background-position: 92%;"></li></input>
	  </ul>
	</nav>

	<main id="home-wrapper">
<!--SLIDER -->
			<div id="slider">
				<figure>
					<img src='images/banner1.jpg'alt="window, fascia, pressure, Gutter, cleaning, services">
						<img src='images/banner2.jpg'alt="window, fascia, pressure, Gutter, cleaning, services">
							<img src='images/banner3.jpg'alt="window, fascia, pressure, Gutter, cleaning, services">
								<img src='images/banner4.jpg'alt="window, fascia, pressure, Gutter, cleaning, services">
									<img src='images/banner5.jpg'alt="window, fascia, pressure, Gutter, cleaning, services">
			 				</figure>
						</div>

<!--HOME CONTENT WRAPS-->
	<div class="home-content">
		<div id="headbar">
			<h1>Welcome Message</h1>
				</div>
					</div>

	<div class="home-content">
		<div id="headbar">
			<h1>About Us</h1>
				</div>
					</div>

  <div class="home-content">
		<div id="headbar">
			<h1>What We Do</h1>
				</div>
					</div>

<!--PICTUREBOXES -->
		<div class="item">
			<div id="transparency">
				<img src='images/picture1.jpg'></img>
				<a href="Window.html"><h1>Window Cleaning</h1></a>
					</div>
						</div>

		<div class="item">
			<div id="transparency">
				<img src='images/picture2.jpg'></img>
				<a href="Gutter.html"><h1>Gutter Cleaning</h1></a>
					</div>
						</div>

		<div class="item">
			<div id="transparency">
				<img src='images/picture3.jpg'></img>
				<a href="Fascia.html"><h1>Fascia Cleaning</h1></a>
					</div>
						</div>

		<div class="item">
			<div id="transparency">
				<img src='images/picture4.jpg'></img>
				<a href="Pressure.html"><h1>Pressure Cleaning</h1></a>
					</div>
						</div>

<!--TESTIMONIAL WRAP-->
				<div id='home-testominal'>
				<div class='headbar-testimonial'>
					<h1>Check out testimonials from other people!</h1>
								</div>

							</div>
	</main>

<!--FOOTER-->
	<footer>

		<div id='top-footer'>
			<section>
				<h1>MENU</h1>
					<a href="Home.html">Home</a>
						</section>
		<section>
			<h1>SERVICES</h1>
				<a href="Window.html">Window</a>
					<a href="Gutter.html">Gutter</a>
						<a href="Fascia.html">Fascia</a>
							<a href="Pressure.html">Pressure</a>
								</section>
		<section>
			<h1>CONTACT</h1>
				<a href="Testimonials.html">Testimonials</a>
					<a href="Charity.html">Charity</a>
						<a href="Contact.html">Contact us</a>
							</section>

		<section>
			<h1>MISCELLANEOUS</h1>
				<a href="Testimonials.html">Terms And Services</a>
				<a href="Testimonials.html">Contact Information</a>
				</section>
	</div>
		<div id='bottom-footer'>
			<div id='social-icons'>
				<div id='line'>
					</div>

				<br>
<!--Social Media Links (bottom footer)-->
			<a href='https://twitter.com/'><img src='images/twitter.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
				<a href='https://facebook.com/'><img src='images/facebook.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
					<a href='https://plus.google.com/'><img src='images/google.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
						<p>@copyright All rights reserved to up775005 - Final Year Project (PJE40)</p>
							</div>
	</div>
</footer>

</body>
</html>
