<!DOCTYPE html>
<html>
<head>
<!--STYLESHEETS-->
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title></title>
</head>
<body>
	<!--JAVASCRIPT STYLE-->
	  <script type="text/javascript" src="javascripts/script.js"></script>
<!--LOGO -->
<div id="logo">
	<img src ="images/logo.png" alt="window, fascia, pressure, Gutter, cleaning, services">
</div>
<!--CONTACT INFO -->
<div id='reach'>
		 <h1><img src='images/phone.png' alt='phone,cleaning'><u>Phone: +4124241525</u></h1>
		 <h1><img src='images/email.png' alt='email,cleaning'><u>Email: Email@gmail.com</u></h1>
	 </div>
<!--Social Media Links (Right of the page)-->
<div class="social-media-box">
<h2>twitter</h2>
<a href='https://twitter.com/'>
	<img src='images/medialogo1.png'alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>instagram</h2>
<a href='https://instagram.com/'>
	<img src='images/medialogo2.png'alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>facebook</h2>
<a href='https://facebook.com/'>
	<img src='images/medialogo3.png'alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>google+</h2>
		<a href='https://plus.google.com/'>
			<img src='images/medialogo4.png'alt="window, fascia, pressure, Gutter, cleaning, services">
				</a>
</div>
<!--NAVIGATION BAR -->
	<nav>
		<ul id="menu">
	    <li class="home"><a href="/">Home</a></li>
	    <li class="window"><a href="/window">Window </a></li>
	    <li class="gutter"><a href="/gutter">Gutter </a></li>
	    <li class="fascia"><a href="/fascia">Fascia </a></li>
	    <li class="pressure"id="contact"><a href="/pressure">Pressure </a></li>
	    <li class="testimonials"><a href="/testimonials">Testimonials</a></li>
	    <li class="charity"><a href="/charity">Charity</a></li>
	    <li class="contact"><a href="/contact">Contact us</a></li>
<!--searchbox-->
	    <li class="nohover"><input type="text" placeholder="Search...."style="background-image: url(images/zoom.png); background-repeat: no-repeat;
	        background-size: 17px 17px; background-position: 92%;"></li></input>
	  </ul>
	</nav>
		<main id="home-wrapper">


<!--LEFT WRAPPER!--------------------->

<div id='cleaning-description'>
		<div class='cleaning-headbar'>
			<h1>Pressure Cleaning Service</h1>
</div>
<div id='cleaning-left-container'>
<h3>Service Description</h3>
<p> Pressure Washing is an important part of regular exterior property maintenance. It will help to keep all the surfaces of your home or business looking great as well as protecting your investment.</p>
<p>Our goals are simple, we strive to leave your world cleaner than we found it while providing excellent customer service. Whether you need your windows cleaned, your entire house washed, landscaping and/or maintenance, we are the company that will get it done right.</p>
<p>Pressure cleaning also can get rid of harmful mold that can cause further damage to your property and also trigger allergic reactions in many people. If you have family members with mold allergies you may find a great improvement in energy and less reaction by having your home exterior power washed.</p>
<h5>This service <b>PRICE</b> starts from: <b>£21</b></h5>
</div>

<div id='cleaning-right-container'>
<h3>Additional Information</h3>
<p><b>Low Pressure Washing - </b>Summit services can adapt its pressure washing to your needs. This is to make sure that nothing that is cleaned can be damaged. Therefore, choosing our service provides a safe way to clean your components.</p>
<p><b>High Pressure Washing - </b>In case there is a need for higher pressure washing, for example when the dirt is super resistant, we may do so. This is because our trained staff will know how strong cleaning surface is which allows to adapt to every situation!</p>
<p><b>Window Cleaning - </b>Our company can also provide window cleaning using pressure washing. This is 100% safe as the trained staff can control on how strong the pressure is leaving your windows in best state! </p>
<% for(var i=0; i< object.length; i++) {%>
<h2>Service Average Rating: <b><%=object[i].avgPressure%></b> out of 5.</h2>
<% } %>
</div>
<br>
<div id='cleaning-gallery'>
	<div class='gallery-headbar'>
		<h1>Pressure Gallery</h1>
	</div>

</main>



<!--FOOTER-->
	<footer>

		<div id='top-footer'>
		<section>
			<h1>SERVICES</h1>
				<a href="Window.html">Window</a>
					<a href="Gutter.html">Gutter</a>
						<a href="Fascia.html">Fascia</a>
							<a href="Pressure.html">Pressure</a>
								</section>
		<section>
			<h1>CONTACT</h1>
				<a href="Testimonials.html">Testimonials</a>
					<a href="Charity.html">Charity</a>
						<a href="Contact.html">Contact us</a>
							</section>

		<section>
			<h1>MISCELLANEOUS</h1>
				<a href="Testimonials.html">Terms And Services</a>
				<a href="Testimonials.html">Contact Information</a>
				</section>
				<section>
					<h1>MENU</h1>
						<a href="Home.html">Home</a>
							</section>
	</div>
	<section>
		<div id='bottom-footer'>
			<div id='social-icons'>
				<br>
<!--Social Media Links (bottom footer)-->
			<a href='https://twitter.com/'><img src='images/twitter.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
				<a href='https://facebook.com/'><img src='images/facebook.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
					<a href='https://plus.google.com/'><img src='images/google.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
					<a href='https://instagram.com'><img src='images/instagram.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
						<p>@copyright All rights reserved to up775005 - Final Year Project (PJE40) - Summit Window Cleaning</p>
							</div>

</section>
</footer>

</body>
</html>
