<!DOCTYPE html>
<html>
<head>
<!--STYLESHEETS-->
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<title></title>
</head>
<body>
	<!--JAVASCRIPT STYLE-->
	  <script type="text/javascript" src="javascripts/script.js"></script>
<!--LOGO -->
<div id="logo">
	<img src ="images/logo.png" alt="window, fascia, pressure, Gutter, cleaning, services">
</div>
<!--CONTACT INFO -->
<div id='reach'>
		 <h1><img src='images/phone.png' alt='phone,cleaning'><u>Phone: +4124241525</u></h1>
		 <h1><img src='images/email.png' alt='email,cleaning'><u>Email: Email@gmail.com</u></h1>
	 </div>
<!--Social Media Links (Right of the page)-->
<div class="social-media-box">
	<div class='social-media-box-headbar'>
		<h1>JOIN</h1>
</div>
<h2>twitter</h2>
<a href='https://twitter.com/'>
	<img src='images/medialogo1.png'alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>instagram</h2>
<a href='https://instagram.com/'>
	<img src='images/medialogo2.png'alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>facebook</h2>
<a href='https://facebook.com/'>
	<img src='images/medialogo3.png'alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>google+</h2>
		<a href='https://plus.google.com/'>
			<img src='images/medialogo4.png'alt="window, fascia, pressure, Gutter, cleaning, services">
				</a>
</div>
<!--NAVIGATION BAR -->
	<nav>
		<ul id="menu">
	    <li class="home"><a href="/">Home</a></li>
	    <li class="window"><a href="/window">Window </a></li>
	    <li class="gutter"><a href="/gutter">Gutter </a></li>
	    <li class="fascia"><a href="/fascia">Fascia </a></li>
	    <li class="pressure"><a href="/pressure">Pressure </a></li>
	    <li class="testimonials"><a href="/testimonials">Testimonials</a></li>
	    <li class="charity"><a href="/charity">Charity</a></li>
	    <li class="contact"id="contact"><a href="/contact">Contact us</a></li>
<!--searchbox-->
	    <li class="nohover"><input type="text" placeholder="Search...."style="background-image: url(images/zoom.png); background-repeat: no-repeat;
	        background-size: 17px 17px; background-position: 92%;"></li></input>
	  </ul>
	</nav>
<!--LEFT WRAPPER!--------------------->
	<main id="home-wrapper">

<div id='Submit-form'>
		<div class='Submit-form-headbar'>
			<h1>Query Submitted</h1>
				</div>
				<p>Thank you for your submission. We appreciate your feedback (moretext)<p>
</div>
</main>
<!--FOOTER-->
	<footer>

		<div id='top-footer'>
		<section>
			<h1>SERVICES</h1>
				<a href="Window.html">Window</a>
					<a href="Gutter.html">Gutter</a>
						<a href="Fascia.html">Fascia</a>
							<a href="Pressure.html">Pressure</a>
								</section>
		<section>
			<h1>CONTACT</h1>
				<a href="Testimonials.html">Testimonials</a>
					<a href="Charity.html">Charity</a>
						<a href="Contact.html">Contact us</a>
							</section>

		<section>
			<h1>MISCELLANEOUS</h1>
				<a href="Testimonials.html">Terms And Services</a>
				<a href="Testimonials.html">Contact Information</a>
				</section>
				<section>
					<h1>MENU</h1>
						<a href="Home.html">Home</a>
							</section>
	</div>
	<section>
		<div id='bottom-footer'>
			<div id='social-icons'>
				<br>
<!--Social Media Links (bottom footer)-->
			<a href='https://twitter.com/'><img src='images/twitter.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
				<a href='https://facebook.com/'><img src='images/facebook.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
					<a href='https://plus.google.com/'><img src='images/google.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
						<p>@copyright All rights reserved to up775005 - Final Year Project (PJE40) - Summit Window Cleaning</p>
							</div>

</section>
</footer>

</body>
</html>
