<!DOCTYPE html>
<html>
<head>
<!--STYLESHEETS-->
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title></title>
</head>
<body>

<!--LOGO -->
<div id="logo">
	<img src ="images/logo.png" alt="window, fascia, pressure, Gutter, cleaning, services">
</div>
<!--CONTACT INFO -->
<div id='reach'>
		 <h1><img src='images/phone.png' alt='phone,cleaning'><u>Phone: +4124241525</u></h1>
		 <h1><img src='images/email.png' alt='email,cleaning'><u>Email: Email@gmail.com</u></h1>
	 </div>
<!--Social Media Links (Right of the page)-->
<div class="social-media-box">
<h2>twitter</h2>
<a href='https://twitter.com/'>
	<img src='images/medialogo1.png'alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>instagram</h2>
<a href='https://instagram.com/'>
	<img src='images/medialogo2.png'alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>facebook</h2>
<a href='https://facebook.com/'>
	<img src='images/medialogo3.png'alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>google+</h2>
		<a href='https://plus.google.com/'>
			<img src='images/medialogo4.png'alt="window, fascia, pressure, Gutter, cleaning, services">
				</a>
</div>
<!--NAVIGATION BAR -->
	<nav>
		<ul id="menu">
	    <li class="home"><a href="/">Home</a></li>
	    <li class="window"><a href="/window">Window </a></li>
	    <li class="gutter"><a href="/gutter">Gutter </a></li>
	    <li class="fascia"><a href="/fascia">Fascia </a></li>
	    <li class="pressure"><a href="/pressure">Pressure </a></li>
	    <li class="testimonials"id="testimonials"><a href="/testimonials">Testimonials</a></li>
	    <li class="charity"><a href="/charity">Charity</a></li>
	    <li class="contact"><a href="/contact">Contact us</a></li>
<!--searchbox-->
	    <li class="nohover"><input type="text" placeholder="Search...."style="background-image: url(images/zoom.png); background-repeat: no-repeat;
	        background-size: 17px 17px; background-position: 92%;"></li></input>
	  </ul>
	</nav>
	<main id="home-wrapper">
<div id='testimonial-content'>
	<div id='banner'>
		<img src='images/testimonial1.jpg'alt="window, fascia, pressure, Gutter, cleaning, services">
	</div>


<div id='testimonial-index'>

	<% for(var i=0; i< object.length; i++) {%>

		<div id='user-testimonial'>
			<div class='headbar-user'>
				<img src='images/user.png' class='user'><h1><b><%=object[i].u_name %></b>
			</div>

			<% if(i % 2!=0){%>
				<div id='user-testominalbg1'>
					<% }
					else {%>
						<div id='user-testominalbg2'>
						<% }%>




	<div id='star-img'>
<h1>+ <%=object[i].u_rating %> </h1>
<% for(var s=0; s< object[i].u_rating; s++) {%>

	<img src='images/star.png' style='width:25px; height:25px;'>


						<% } %>
</div>

<h3>"<%=object[i].u_comment %>"</h3>

</div>

<img src='images/service-icon.png' class='service-img'><h2><%=object[i].u_service%></h2>
</div>



<% }%>
<button class="button">Load More..</button>
</div>

</div>

</div>
	</main>

	<!--FOOTER-->
		<footer>

			<div id='top-footer'>
			<section>
				<h1>SERVICES</h1>
					<a href="Window.html">Window</a>
						<a href="Gutter.html">Gutter</a>
							<a href="Fascia.html">Fascia</a>
								<a href="Pressure.html">Pressure</a>
									</section>
			<section>
				<h1>CONTACT</h1>
					<a href="Testimonials.html">Testimonials</a>
						<a href="Charity.html">Charity</a>
							<a href="Contact.html">Contact us</a>
								</section>

			<section>
				<h1>MISCELLANEOUS</h1>
					<a href="Testimonials.html">Terms And Services</a>
					<a href="Testimonials.html">Contact Information</a>
					</section>
					<section>
						<h1>MENU</h1>
							<a href="Home.html">Home</a>
								</section>
		</div>
		<section>
			<div id='bottom-footer'>
				<div id='social-icons'>
					<br>
	<!--Social Media Links (bottom footer)-->
				<a href='https://twitter.com/'><img src='images/twitter.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
					<a href='https://facebook.com/'><img src='images/facebook.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
						<a href='https://plus.google.com/'><img src='images/google.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
						<a href='https://instagram.com'><img src='images/instagram.png'alt="window, fascia, pressure, Gutter, cleaning, services"></a>
							<p>@copyright All rights reserved to up775005 - Final Year Project (PJE40) - Summit Window Cleaning</p>
								</div>

	</section>
	</footer>
	<!--JAVASCRIPT STYLE-->
	  <script type="text/javascript" src="javascripts/script.js"></script>
	</body>
	</html>
